html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}


#root {
  display: flex;
  justify-content: center; 
  align-items: center;     
  text-align: center;      
  background-color: black; 
}

h1 {
  font-size: 4rem; 
  margin-bottom: 20px; 
  color: white;
}

div{
  display: flex;
  flex-direction: column;
  align-items: center;

}

div.buttons{
  display: flex;
  flex-direction: row;
}

body {
  margin: 0;
font-family: sans-serif;
}

button{
  padding: 0.5rem 1.5rem;
  margin: 0.2rem;
  font-size: 2rem;
  border: 0;
  color: rgb(172, 172, 172);
  border-radius: 30%;
  cursor: pointer;
  font-size: 3rem;
  transition: all 0.3s ease;
}

button.plus{
 background-color: black;
 margin-left: 1rem;
}

button.minus{
 background-color: black;
  margin-right: 1rem;
}

button:hover {
  color:white;
}